@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
body {
    font-family: 'Oswald', sans-serif;
    width: 96%;    
    max-width: 1200px;
    padding: auto;
    margin: auto;
}
h3 {
    margin-top: 5px;
    font-size: 4vw;
    text-align: center;
}
h4 {
    font-size: 4vw;
    text-align: center;
}
.container {
    display: flex;
    flex-wrap: wrap;
}
 .aside, .main {
    width: 100%;
    min-height: 1px;
}
/*.img {
  min-width: auto;
  min-height: auto;
  object-fit: cover;
  overflow: hidden;
}*/
/*.box1{
    background-color: blue;
    margin-left: 5%;
    width: 40%;
    height: 50%;
    overflow: hidden;
    display: inline-block;
    justify-content: center;
    align-items: center;
}*/
.box1 {
    margin-left: 10%;
    margin-right: auto;
    background-size: cover;
    background-position: center;
    margin-bottom: 5%;
    width: 35%;
    height: 50%;
    display: inline-block;
}
h5 {
    color: aliceblue;
    font-size: 2vw;
    text-align: center;
    vertical-align:middle;
}
